<h3>CoinAcceptorComponent</h3>
<div>
    <input type="button" value="50 bani" @onclick="Add50" />
    <input type="button" value="10 bani" @onclick="Add10" />
</div>
@using Services;
@inject CoinAcceptorService acceptorService
@code {
    public void Add50()
    {
        acceptorService.CoinInsertion.OnNext(.50d);
    }

    public void Add10()
    {
        acceptorService.CoinInsertion.OnNext(.10d);
    }
}
